*.db
.ipynb_checkpoints/presentation-checkpoint.ipynb
reveal.js/*
presentatie.7z
presentation.slides.html
reportIP.7z
latex_report/MLforIP.aux
*.aux
latex_report/MLpracsyllab.pdf
reportIP/*
*.zip
latex_reportBijnaFinaal.7z
*.gz
*.out
latex_report/MLpracsyllab.log
*.bbl
latex_report/MLforIP_Jim.tex
*.log
*.7z
